

html {
	font-size: 62.5%;
}
body {
	@include fts(14,20);
	color: #fff;
    font-family:'Open Sans', Arial, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ" , Meiryo , "游ゴシック", YuGothic;
}
h1, h2, h3, h4, h5, h6 {
    font-family:'Open Sans', Arial, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ" , Meiryo , "游ゴシック", YuGothic;
}
ul li {
	list-style: none;
}
a {
	color: $color-theme-key;
	&:hover {
		color: $color-theme-key-dark;
	}
}

.button {
	background-color: rgba($color-theme-key,.2);
	color: $color-theme-key;
	border: 1px solid $color-theme-key;
	p {
		display: inline-block;
		margin-bottom: 0;
	}
	&:hover {
		background-color: rgba($color-theme-key,.5);
		border: 1px solid #fff;
	}
}
