
// Too remove
body {
	@include fts(14,20);

	color: #fff;
}

ul li {
	list-style: none;
}

a {
	color: $color-theme-key;

	&:hover, &:active, &:focus {
		color: $color-theme-key-dark;
	}
}

.page_wrapper {
	margin-top: 6rem;
	margin-bottom: 5rem;
}
