
// Too remove
body {
	@include fts(14,20);
	@include letter-spacing(100);
	color: #fff;
	height: 100%;
  	background-color: $color-navy;
}

ul li {
	list-style: none;
}

a {
	color: $color-theme-key;

	&:hover, &:active, &:focus {
		color: $color-theme-key-dark;
	}
}

.page_wrapper {
	padding-top: 2rem;
	padding-bottom: 5rem;
  	background-color: $color-navy;

	&.no_margin {
		margin: 0;
	}

	&.section_member {
		background-color: $color-white;
		color: $color-navy;
	}
}


#wpadminbar {
	// display: none;
}
.full-width {
	max-width: 100%;
	width: 100%;
}