
// Too remove
body {
	@include fts(14,20);
	color: #fff;
	height: 100%;
  	background-color: $color-navy;
}

ul li {
	list-style: none;
}

a {
	color: $color-theme-key;

	&:hover, &:active, &:focus {
		color: $color-theme-key-dark;
	}
}

.page_wrapper {
	padding-top: 2rem;
	padding-bottom: 5rem;
  	background-color: $color-navy;

	&.no_margin {
		margin: 0;
	}
}
