
// Too remove
html {
	font-size: 62.5%; // 1rem = 10px
}


body {
	@include fts(14,20);
	color: #fff;
}

ul li {
	list-style: none;
}

a {
	color: $color-theme-key;

	&:hover, &:active, &:focus {
		color: $color-theme-key-dark;
	}
}
