/*
** About Section
*/

// Section
.section_about {
	background-color: $color-theme-key;
	.section_title {
		color: $body-background;
	}
}

// List
.row .about_list {
	max-width: 1000px;
	margin: 0 auto 30px;
	border: 0;
	text-align: center;
  	background: transparent;
  	// tab
	&--tab {
    position: relative;
    padding: 0 5px;

    // link
		&--link {
			display: block;
		    width: 90px;
		    height: 90px;
		    margin: 0 auto;
			padding: 0;
			position: relative;
			.inner {
				@include border-radius(100%);
				border: 1px solid #fff;
				position: relative;
				overflow: hidden;
				z-index: 1;
				&::before {  // black opaque cover
	 				@extend %bfaf;
					width: 100%;
					height: 100%;
					@include border-radius(100%);
					background-color: rgba(0,0,0,.5);
					top: 0;
					left: 0;
					z-index: 0;
				}
			}

			&::after {  // bottom shadow
 				@extend %bfaf;
				@include border-radius(100%);
				background-color: rgba($body-background,.2);
				border: 1px solid #fff;
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				z-index: 0;
			}

			&:hover {
				background: transparent;
				.inner {
					&::before {  // black opaque cover
						background-color: rgba(#fff,.1);
						@include setTransition();
					}
					.about_list--tab--title {
						@include fts(32);
						@include setTransition();
					}
				}
				&::after {  // bottom shadow
					right: -10px;
					bottom: -10px;
					top: -10px;
					left: -10px;
					@include setTransition();
				}
			}
		}

    // image
		&--image {
		    width: 100%;
		    height: auto;
			background-color: $body-background;
			border: none;
		}

    // title
		&--title {
			width: 100%;
			margin: -11px 0 0;
			@include fts(15);
			@include letter-spacing(10);
			color: #fff;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
		}
	}

	.is-active {
		&::before { // vertical line
			content: "";
			display: block;
			width: 1px;
			height: 30px;
			background-color: #fff;
			position: absolute;
			bottom: -30px;
			left: 50%;
		}
		.about_list--tab {
			background-color: transparent;
			&--link {
				background-color: transparent;
				.inner {
					&::before { background-color: transparent; }
				}
				&::after {
					display: none;
				}
			}
			&--title {
				display: none;
			}
		}

	}

	 @media screen and #{breakpoint(medium)} {

		&--tab {
			&--link {
		        width: 200px;
		        height: 200px;
			}
			&--title {
				@include fts(28);
				@include letter-spacing(100);
			}
		}
	 }
}

// reset foundation
.tabs-title > a {padding: 0;}



// Content
.about_content {
	background-color: transparent;
	border: none;
	&--panel {
		padding: 1rem 1rem 1.5rem;
		text-align: center;
		background-color: rgba($body-background,.4);
		border: 1px solid #fff;
		&--title {
			margin-bottom: 30px;
			@include fts(28,36);
			@include letter-spacing(200);
			position: relative;
			&::after {
				content: "";
				display: block;
				width: 40px;
				height: 2px;
				margin-left: -20px;
				background-color: #fff;
				position: absolute;
				bottom: -5px;
				left: 50%;
			}
		}
		&--description {
			max-width: 1000px;
			margin: 0 auto;
			text-align: left;
			@include fts(13);
		  	.in_the_bag & {
				max-width: 640px;
		  	}
			.name_holder {margin: 10px 0;}
			.name {
				display: inline-block;
				margin-right: 10px;
				font-weight: bold;
				@include fts(22);
			}
			.name_en {
				display: inline-block;
				font-weight: bold;
				@include fts(16);
				color: $color-lightBlue;
			}
			.profile_items {
				margin-bottom: 0;
				dt {
					padding-left: 12px;
					color: $color-lightBlue;
					position: relative;
					&::before {
						content: "";
						display: block;
						width: 6px;
						height: 6px;
						background-color: $color-lightBlue;
						position: absolute;
						top: 9px;
						left: 0;
					}
				}
				dt,dd {
					display: inline-block;
				}
				&_list {
					margin-bottom: 1.5rem;
					border-bottom: 1px solid $color-lightBlue;
					dt {
						width: 36%;
					}
					dd {
						width: 64%;
						margin-bottom: 20px;
					}
				}
				&_biography {
					dt {
						display: block;
					}
					dd {
						display: block;
						margin-bottom: 25px;
						&:last-child {margin-bottom: 0;}
					}
				}
			}

		}
	}

	 @media screen and #{breakpoint(medium)} {
 		&--panel {
			padding: 2rem 2rem 2.5rem;
			&--title {
				@include fts(32,48);
			}
			&--description {
				@include fts(15);
				.profile_items_list {
					margin-bottom: 0;
					border-bottom: none;
				}
				.profile_items_biography {
					padding-left: 3rem;
					border-left: 1px solid $color-lightBlue;
				}
				.name {
					margin-right: 20px;
					@include fts(28);
				}
				.name_en {
					@include fts(20);
				}
			}
		}
	 }
}


/*
** video player
*/
.video_player {
	width: 100%;

	height: 260px;

	@media screen and #{breakpoint(medium)} {
		height: 360px;
	}

	@media screen and #{breakpoint(large)} {
		height: 360px;
	}
}
