.button {
	background-color: rgba($color-theme-key,.2);
	color: $color-theme-key;
	border: 1px solid $color-theme-key;
	p {
		display: inline-block;
		margin-bottom: 0;
	}
	&:hover,&:focus,&:active {
		background-color: rgba($color-theme-key,.5);
		border: 1px solid $color-white;
		color: $color-white;
	}

	.section_news & {
		display: block;
		width: 260px;
		margin: 30px auto 0;
		@include fts(15);
		@include letter-spacing(200);
		.fa {margin-left: 10px;}
	}
}
