.button {
	background-color: rgba($color-theme-key,.2);
	color: $color-theme-key;
	border: 1px solid $color-theme-key;
	p {
		display: inline-block;
		margin-bottom: 0;
	}
	&:hover,&:focus,&:active,
	&.active {
		background-color: rgba($color-theme-key,.5);
		border: 1px solid $color-white;
		color: $color-white;
	}

	.section_news & {
		display: block;
		width: 260px;
		margin: 30px auto 0;
		@include fts(15);
		@include letter-spacing(200);
		.fa {margin-left: 10px;}
	}


	&.button_form {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		vertical-align: middle;
		border: none;
		border-radius: 0;
		padding: 0.85rem 1.4rem;
		margin: 0 0 1rem 0;
		font-size: 0.9rem;
		background-color: $color-theme-key-dark;
		color: #fefefe;

		&:hover,&:focus,&:active {
			background-color: $color-theme-key;
			color: $color-white;
		}
	}

	.button-group & {

		.gallery--categories & {
			& {
				margin: 0 4px;
			}
		}
	}

}
.wpcf7-form-control {
	background-color: rgba($color-theme-key,.2);
	color: $color-theme-key;
	border: 1px solid $color-theme-key;
	&:focus {
		background-color: rgba($color-theme-key,.4);
		color: $color-theme-key;
		border: 1px solid $color-theme-key;
	}
}
.wpcf7-submit{
	@extend .button;
}