@font-face {
    font-family: 'NotoSansCJKjp';
    src:    url('../fonts/NotoSansCJKjp-Bold.otf');
    // src:    url('../fonts/icomoon.eot?tlp6v6#iefix') format('embedded-opentype'),
    //     url('../fonts/icomoon.ttf?tlp6v6') format('truetype'),
    //     url('../fonts/icomoon.woff?tlp6v6') format('woff'),
    //     url('../fonts/icomoon.svg?tlp6v6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
