.footer {
	text-align: center;
	background-color: rgba($body-background,1);
	border-top: 1px solid $color-greyish-purple;
	&--inner {
		padding: 15px 0 20px;
		position: relative;
		z-index: 0;
		background-color: rgba($body-background,1);
	}
}
// .scroll_top {
// 	position: absolute;
// 	top: 30px;
// 	right: 30px;
// 	border: 1px solid $color-theme-key;
// 	background-color: rgba($body-background,1);
// 	@include border-radius(100%);
// 	a {
// 		display: block;
// 		width: 40px;
// 		height: 40px;
// 		@include fts(30,36);
// 	}
// }
.scroll_top {
	position: absolute;
	top: -32px;
	right: 0;
	z-index: -2;
	transition: all .3s;
	.button {
		display: block;
		width: 60px;
		height: 32px;
		margin: 0;
		padding: 0;
		@include fts(30,30);
		color: $body-background;
		border: 1px solid $body-background;
		border-bottom: 0px;
		background-color: transparent;
	}

	&:hover {
		.button {
			background-color: rgba(#fff,.3);
			color: #fff;
			border-bottom: 0px;
		}
	}
}
