.footer {
	text-align: center;
	background-color: rgba($body-background,1);
	border-top: 1px solid $color-greyish-purple;
	&--inner {
		padding: 15px 0 20px;
		position: relative;
		z-index: 0;
		background-color: rgba($body-background,1);
	}
}
.footer-menu {
	&--item {
		display: inline-block;
		margin: 0 10px;
	}
}
.scroll_top {
	position: absolute;
	top: -32px;
	right: 0;
	z-index: -2;
	@include setTransition();
	.button {
		display: block;
		width: 60px;
		height: 32px;
		margin: 0;
		padding: 0;
		@include fts(30,30);
		color: #fff;
		border: 1px solid #fff;
		border-bottom: 0px;
		background-color: transparent;
		&:hover,&:focus {
			background-color: rgba(#fff,.3);
			color: #fff;
			border-bottom: 0px;
		}
		&:focus {
			background-color: rgba(#fff,0);
		}
	}
}
