/*
** Gallery
*/
.gallery {
  margin: 0;
  padding: 0;

  &--categories {
    margin: 0 auto;

    @media screen and #{breakpoint(medium)} {
      margin-left: auto;
      margin-right: auto;
    }

    & .button-group {
      margin-bottom: 2rem;
    }
  }

  &--item {
    display: block;
    margin: 2px;
    height: auto;
    color: black;
    overflow: hidden;

    // Grid maker
    &.grid-item--width {
      &-1 {
        width: calc(50% - 4px);
      }

      &-2 {
        width: calc(100% - 4px);
      }

      &-3 {
        width: calc(100% - 4px);
      }
    }

    &.grid-item--height {
      &-1 {
        height: calc(200px - 4px);
      }

      &-2 {
        height: calc(400px - 4px);
      }
    }

    @media screen and #{breakpoint(medium)} {
      &.grid-item--width {
        &-1 {
          width: calc(100% / 4 - 4px);
        }

        &-2 {
          width: calc(100% / 2 - 4px);
        }

        &-3 {
          width: calc(100% / 2 - 4px);
        }
      }

      &.grid-item--height {
      }
    }

    @media screen and #{breakpoint(large)} {
      &.grid-item--width {
        &-1 {
          width: calc(100% / 6 - 4px);
        }

        &-2 {
          width: calc(100% / 3 - 4px);
        }

        &-3 {
          width: calc(100% / 2 - 4px);
        }
      }

      &.grid-item--height {
      }
    }
    // End Grid maker



    // tag
    &--tag {
      display: inline-block;
      color: $color-white;
      font-style: italic;
      margin-top: 10px;
      @include fts(11,11);

      & .fa {
        margin-right: 5px;
      }
    }


    // link
    &--link {
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      background-size: cover;
      opacity: 1;
      @include setTransition();

      &.lazy {
        opacity: 0;
      }

      &:hover {

        & .gallery--item--info {
          background-color: rgba(0, 0, 0, 0.5);
          @include setTransition();

          &--inner {
            bottom: 0;
          }
        }
      }

      // Member only
      &.member_only {
        background-image: url(../images/gallery/memberonly_image.jpg);
        background-position: center center;
        background-color: $color-full-black;
      }

    }

    // info block
    &--info {
      width: 100%;
      height: 100%;
      @include setTransition();

      &--inner {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: rem-calc(10px) rem-calc(10px);
        background-color: rgba(0, 0, 0, 0.5);

        @media screen and #{breakpoint(medium)} {
          bottom: -100%;
          padding: rem-calc(20px) rem-calc(10px);
          background-color: transparent;
          @include setTransition();
        }
      }
    }

    &--title {
      color: $color-white;
      @include fts(16,16);
    }

    &--description {
      color: $color-white;
      margin: 0;
      @include fts(12,12);
    }
  }
  // end item

  &--video_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/gallery/icon_play.png);
    background-repeat: no-repeat;
    background-position: center center;
  }
}
