/*
** Site Header
*/
.top_header {
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: $color-white;
  background-color: $body-background;
  border-bottom: 1px solid rgba(#fff,.5);

  &.fixed {
    position: fixed;
    background-color: rgba($body-background,0.3);
  }

  &.hidden {
    top: -71px;

    & + .page_wrapper {
      margin-top: 71px;
    }

    @media screen and #{breakpoint(medium)} {
      top: -151px;

      & + .page_wrapper {
        margin-top: 151px;
      }
    }
  }

  &.shown {
    background-color: rgba($body-background,0.9);
    @include setTransition();
  }

  &.logo_hidden {
    position: fixed;

    & + .page_wrapper {
      margin-top: 71px;
    }

    @media screen and #{breakpoint(medium)} {
      & + .page_wrapper {
        margin-top: 121px;
      }
    }
  }

  &--inner {
    position: relative;

    .fixed & {
      margin-top: 0;
    }
  }
}




// top navigation during scrolling
.navfix {
  display: none;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba($body-background,.9);
  .site_title_holder {
    padding-top: 0;
  }

}

.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}




// logo
.logo {
  padding-top: 5px;
  text-align: center;
  font-size: 0;

  &--image {
    display: inline-block;
    width: 200px;

    .logo_hidden & {
      display: none;
    }
  }
  &--text {
    margin: 6px 0;
    @include fts(30,30);
    @include letter-spacing(800);
    font-weight: bold;
    color: #fff;
    .logo_hidden & {
      display: none;
    }
  }

  &--subline {
    display: block;
    font-weight: normal;
    margin: .8rem 0 0;
    color: $color-white;
    @include fts(12,12);
    @include letter-spacing(200);

    .shown & {
        margin: 1rem 0 1rem;
    }
  }

  @media screen and #{breakpoint(medium)} {
    margin-bottom: 0.5rem;

    &--image {
      width: 300px;
    }

    &--text {
      margin-bottom: 12px;
      @include fts(40,40);
    }
    &--subline {
      margin: 0.5rem 0 0;
      @include fts(14,14);
    }
  }
}
