/*
** Site Header
*/
.top_header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  color: $color-white;
  background-color: rgba($body-background,0.3);
  @include setTransition();

  &.hidden {
    top: -71px;
    @include setTransition();

    @media screen and #{breakpoint(medium)} {
      top: -150px;
    }
  }

  &.shown {
    background-color: rgba($body-background,0.8);
  }

  &--inner {
    position: relative;
    margin-top: 0.6rem;
  }
}






// top navigation during scrolling
.navfix {
  display: none;
  width: 100%;
  padding-bottom: 10px;
  text-align: center;
  background-color: rgba($body-background,.9);
  .site_title_holder {
    padding-top: 0;
  }

}

.fixed {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
}




// logo
.logo {
  padding-top: 10px;
  text-align: center;

  &--image {
    display: inline-block;
    width: 200px;

    .logo_hidden & {
      display: none;
    }
  }

  &--subline {
    display: block;
    font-weight: normal;
    margin: 1rem 0 0;
    @include fts(12,12);
    @include letter-spacing(.2);

    .shown & {
        margin: 0 0 1.4rem;
    }
  }

  @media screen and #{breakpoint(medium)} {

    &--image {
      width: 325px;
    }

    &--subline {
      margin: 1rem 0 0;
      @include fts(14,14);
    }
  }
}
