/*
** Form signup
*/

#swpm-registration-form {

  & .swpm-registration-membership-level-row {
    display: none;
  }

  & table tbody tr:nth-child(even) {
    background-color: $color-light-grey;
  }

  & table thead, & table tbody, & table tfoot {
    border-color: $color-light-grey;
  }
  // input
  & [type='text'], & [type='password'], & [type='date'], & [type='datetime'], & [type='datetime-local'],
  & [type='month'], & [type='week'], & [type='email'], & [type='number'], & [type='search'], & [type='tel'],
  & [type='time'], & [type='url'], & [type='color'], & textarea {
    margin: 0;
  }

  // button
  & [type='submit'] {
		display: inline-block;
		text-align: center;
		line-height: 1;
		cursor: pointer;
		-webkit-appearance: none;
		transition: background-color 0.25s ease-out, color 0.25s ease-out;
		vertical-align: middle;
		border: none;
		border-radius: 0;
		padding: 0.85rem 1.4rem;
		margin: 0 0 1rem 0;
		font-size: 0.9rem;
		background-color: $color-theme-key-dark;
		color: #fefefe;

		&:hover,&:focus,&:active {
			background-color: $color-theme-key;
			color: $color-white;
		}
	}

}


#message {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
  text-align: right;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  font-weight: lighter;

  color: $color-theme-key-dark;

  & ul {
    list-style-type: disc;
    margin-left: 1.25rem;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    float: right;

    & li {
      font-weight: bold;
      text-align: left;
      color: $color-theme-key-dark;
    }
  }
}



.section_member {

  & ul {
    margin: 0;
    padding: 0;

    & li {
      & a {
        display: inline-block;
        text-align: center;
        line-height: 1;
        cursor: pointer;
        -webkit-appearance: none;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
        vertical-align: middle;
        border-radius: 0;
        padding: 0.85em 1em;
        margin: 0 0 1rem 0;
        font-size: 0.9rem;

      	background-color: rgba($color-theme-key,.2);
      	color: $color-theme-key;
      	border: 1px solid $color-theme-key;
      	padding: 0.85em 1em;

      	&:hover,&:focus,&:active,
      	&.active {
      		background-color: rgba($color-theme-key,.5);
      		border: 1px solid $color-white;
      		color: $color-white;
      	}
      }
    }
  }

}
