/*
** Navigaiton
*/
.nav {
  position: relative;

  // Menu level 1
  &--menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &--item {
      text-transform: uppercase;
      width: 50%;
    }

    &--link {
      color: #fff;
      @include fts(14,14);
      @include letter-spacing(200);

      &:hover, &:active, &:focus {
        color: $color-theme-key;
      }
    }
  }

  // Button menu
  &--button {
    display: block;
    width: 26px;
    height: 20px;

    &--holder {
      position: absolute;
      top: 0.6rem;
      right: 0.6rem;
      width: 26px;
      height: 20px;
    }

    &.dark::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      top: 0;
      left: 0;
      box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }

    &.dark:hover::after {
      background: #f2f2f2;
      box-shadow: 0 7px 0 #f2f2f2, 0 14px 0 #f2f2f2;
    }

    @media screen and #{breakpoint(medium)} {
      display: none;
    }
  }

  @media screen and #{breakpoint(medium)} {
    position: initial;

    // Menu level 1
    &--menu {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;

      &--item {
        width: auto;
      }
    }


  }
}


/*
** Sign up / Sign in
*/
.sign_menu {
  position: relative;
  top: 0;
  right: 0.6rem;

  &--menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  &--item {
    width: 50%;
  }

  &--link {
    color: $color-white;
    @include fts(14,14);
    @include letter-spacing(0.2);

    &:hover, &:active, &:focus {
      color: $color-theme-key;
    }
  }

  &--user {
    padding: 0.7rem 1rem;
    margin: 0;
    @include fts(16,16);
    @include letter-spacing(0.2);
    border-bottom: 1px solid $color-white;
  }

  @media screen and #{breakpoint(medium)} {
    position: absolute;

    &--menu {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &--item {
      width: auto;
    }
  }
}

/*
** Sign up / Sign in
*/
.post_nav {
  margin-top: 3rem;

  &--prev {

  }

  &--next {
    text-align: right;
  }
}
