/*
** Navigaiton
*/

.nav {
  position: relative;

  // Menu level 1
  &--menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    &--item {
      margin: 0;
      padding: 0 2px 4px;
      text-transform: uppercase;
      width: 50%;
    }
    .menu & {
      &--link {
        padding: 0.8rem 1rem;
        color: #fff;
        @include fts(14,14);
        @include letter-spacing(200);
        @include border-radius(2px);
        background-color: rgba($color-white,.1);

        &:hover, &:active, &:focus {
          color: $color-theme-key;
          background-color: rgba($color-white,.3);
        }
      }
    }

    @media screen and #{breakpoint(medium)} {
      &--item {
        margin: 5px 5px 10px;
        padding: 0;
        text-transform: uppercase;
        width: 50%;
      }
      .menu & {
        &--link {
          padding: 0.5rem 0.8rem;
          color: #fff;
          @include fts(14,14);
          @include letter-spacing(200);
          @include border-radius(2px);
          background-color: rgba($color-white,.1);

          &:hover, &:active, &:focus {
            color: $color-theme-key;
            background-color: rgba($color-white,.3);
          }
        }
      }

    }
  }

  // Button menu
  &--button {
    display: block;
    width: 26px;
    height: 20px;

    &--holder {
      position: absolute;
      top: .8rem;
      right: .8rem;
      width: 26px;
      height: 20px;
    }

    &.dark::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      background: #fff;
      top: 0;
      left: 0;
      box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
    }

    &.dark:hover::after {
      background: #f2f2f2;
      box-shadow: 0 7px 0 #f2f2f2, 0 14px 0 #f2f2f2;
    }

    @media screen and #{breakpoint(medium)} {
      display: none;
    }
  }

  @media screen and #{breakpoint(medium)} {
    position: initial;

    // Menu level 1
    &--menu {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;

      &--item {
        width: auto;
      }
    }


  }
}


/*
** Sign up / Sign in
*/
.sign_menu {
  margin-top: 6px;
  padding: 10px 0;
  position: relative;
  top: 0;
  border-top: 1px solid rgba(#fff,.5);
  overflow: hidden;

  &--menu {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    float: left;
    &.logout  {
      width: 100px; 
    }
  }

  &--item {
  }

  .menu,.sign_menu & {
    &--link {
      display: inline-block;
      margin: 0 2px;
      padding: 0.8rem 1rem;
      color: $color-white;
      @include fts(14,14);
      @include letter-spacing(200);
      @include border-radius(2px);
      background-color: rgba($color-white,.1);

      &:hover, &:active, &:focus {
        color: $color-theme-key;
        background-color: rgba($color-white,.3);
      }
    }
  }

  &--user {
    display: inline-block;
    @include fts(16,16);
    @include letter-spacing(0.2);
    float: left;
  }

  @media screen and #{breakpoint(medium)} {
    padding: 0;
    position: absolute;
    right: 0.6rem;
    border-top: none;

    &--menu {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      -ms-flex-pack: center;
      justify-content: center;
    }

    &--item {
      width: auto;
    }

    .menu,.sign_menu & {
      &--link {
        padding: 0.5rem 0.8rem;
      }
    }

    &--user {
    }
  }
}

/*
** Sign up / Sign in
*/
.post_nav {
  margin-top: 3rem;

  &--prev {

  }

  &--next {
    text-align: right;
  }
}
