/*
** Default panels
*/
.article_panel {
	margin-bottom: 1rem;

	&:last-child {margin-bottom: 0;}

	// title
	&--title {
		display: block;
		width: 100%;
    @include fts(24,24);
		line-height: 1.7rem;
		font-weight: bold;
		margin-top: 0.5rem;
	}

	// thumbnail
	&--thumbnail {

		&--holder {
			border-right: 1px solid $color-white;
		}
	}


	// link box
	&--link_box {
		display: block;
		// border: 1px solid $body-background;
		transition: all 0.3s;

		&--inner {
			padding: 10px;
			background-color: rgba($color-theme-key,.2);
			border: 1px solid $color-theme-key;
			color: $color-white;
			position: relative;
			transition: all .3s;

			&::after { // small triangle
				content: "";
				display: block;
				width: 0;
				height: 0;
				border: 10px solid transparent;
	    		border-left-color: $color-theme-key;
	    		@include rotate(45deg);

				position: absolute;
				bottom: -6px;
				right: -6px;
			}
		}

		&:hover {
			border: 1px solid $color-theme-key;
			background-color: rgba($color-theme-key,.2);
			.article_panel--link_box--inner {
				margin: -10px -10px 10px 10px;
				border-color: $color-white;
				&::after { // small triangle
	    			border-left-color: $color-white;
				}
			}
		}

		& .separator {
			border-right: 1px solid $color-white;
		}
	}
	// End of link box

	// box
	&--box {
		display: block;
		// border: 1px solid $color-black;
		transition: all 0.3s;

		&--inner {
			padding: 10px;
			background-color: rgba($color-theme-key,.75);
			border: 1px solid $color-theme-key;
			color: $color-navy;
			position: relative;
			transition: all 0.3s;
			padding: 1.2rem;
		}
	}
	// End of box


	// Tournament panels
	.tournament_panel & {
		&--date {
			text-align: left;
			display: block;
			@include fts(11,11);
			margin-bottom: rem-calc(14px);
		}

		&--place {
			width: 100%;
			margin-bottom: 0;
			@include fts(12,12);
			margin-bottom: rem-calc(14px);
		}

		&--details {
			margin-left: 0;
		}

		&--info {
			margin-bottom: rem-calc(4px);
			@include fts(12,12);
			line-height: rem-calc(14px);

			& .separator {
				border: none;

				@media screen and #{breakpoint(medium)} {
					border-right: 1px solid $color-white;
				}
			}

			& strong {
				font-weight: bold;
				@include fts(14,14);
			}
		}

		&--score {
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;

			@media screen and #{breakpoint(medium)} {
				-ms-flex: 1 1 0px;
				flex: 1 1 0px;
			}
		}
	}


	// No result
	&--box & {
		&--title {
			margin-bottom: rem-calc(14px);
		}

		&--date {
			text-align: left;
			display: block;
			@include fts(11,11);
			margin-bottom: rem-calc(14px);
		}

		&--place {
			width: 100%;
			margin-bottom: 0;
			@include fts(12,12);
			margin-bottom: rem-calc(14px);
			-ms-flex: 0 0 100%;
			flex: 0 0 100%;

			@media screen and #{breakpoint(medium)} {
				-ms-flex: 1 1 0px;
				flex: 1 1 0px;
			}
		}

		&--info {
			& .separator {
				border: none;

				@media screen and #{breakpoint(medium)} {
					border-right: 1px solid $color-navy;
				}
			}
		}
	}


	&--soon {
		margin: 0;
		text-align: center;
		@include fts(18,18);
		text-transform: uppercase;
		color: $color-white;
	}
}
