/*
** Parallax
*/
.cd-background-wrapper {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;

	-webkit-perspective: 4000px;
	-moz-perspective: 4000px;
	perspective: 4000px;

	&::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'web';
		display: none;
	}

	.touch &::before {
		/* never visible - this is used in jQuery to check the device type */
		content: 'mobile';
	}
}

.cd-floating-background {
	position: relative;
 	width: 100% !important;
 	height: 100%;
 	max-width: 1200px;
 	margin: 0 auto;
	top: 0;
	left: 0;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	@include translateZ(0);
	img {
		position: absolute;
		display: block;
		max-width: 200px;
		-webkit-backface-visibility: hidden;
    	backface-visibility: hidden;
		/* fixes a Firefox bug - images not correctly rendered*/
		background-color: rgba(#FFF, .01);

	}
	.section_news & {
		img {
			&:first-child {
				width: 25%;
				@include translateZ(200px);
				@include opacity(.3);
				top: 13%;
				left: 0%;
			}
			&:nth-child(2) {
				width: 22%;
				bottom: 6%;
				right: -2%;
				float: right;
				@include translateZ(500px);
				@include opacity(.5);
			}
		}
	}
	.section_about & {
		img {
			&:first-child {
				@include translateZ(200px);
				@include opacity(.7);
				width: 26%;		
				top: 4%;
				left: -6%;
			}

			&:nth-child(2) {
				bottom: 10%;
				right: -2%;
				width: 22%;
				float: right;
				@include translateZ(500px);
				@include opacity(.6);
			}
		}
	}

	@media screen and #{breakpoint(medium)} {
		.section_news & {
			img {
				&:first-child {
					width: 15%;
					top: 3%;
					left: -7%;
				}
				&:nth-child(2) {
					width: 17%;
					bottom: 6%;
					right: -6%;
				}
			}
		}
		.section_about & {
			img {
				&:first-child {
					width: 22%;
					top: 10%;
					left: -6%;
				}

				&:nth-child(2) {
					bottom: 10%;
					right: -6%;
					width: 16%;
				}
			}
		}

	}

	&.is-absolute {
		position: absolute;
		top: 0;
		height: 90%;
	}
	.no-touch.no-preserve-3d & {
		/* we target browsers that don't support preserve-3d and show just a standard image - no effect visible */
		position: relative;
	}
}


.parallax {
	&--image {
		opacity: 0;

		&.show {
			opacity: 1;
			@include setTransition();
		}
	}
}
