/*
** Section default
** Define default styling for a section and its elements
*/
.section_default {
  color: $color-theme-key;

  // title
  &--archive_title {
    @include fts(46,46);
    font-weight: normal;
    margin-bottom: 2rem;
    padding-bottom: 0.8rem;
    text-transform: uppercase;
    color: $color-white;
    -ms-flex-pack: center;
    justify-content: center;

    & strong {
      display: inline-block;
      white-space: nowrap;
      @include fts(14,14);
      text-transform: capitalize;
      color: $color-theme-key;
    }

    @media screen and #{breakpoint(medium)} {
      -ms-flex-pack: flex-start;
      justify-content: flex-start;

    }
  }
}


/*
** Section article
** Define default styling for a section and its elements
*/
.section_article {
  color: $color-theme-key;

  &--header {
    margin-bottom: 1rem;
  }

  // title
  &--title {
    @include fts(22,22);
    font-weight: bold;
    border-bottom: 2px solid $color-theme-key;
    margin-bottom: 0;
    padding-bottom: 1rem;
    color: $color-theme-key;
  }

  // date
  &--date {
    display: block;
    @include fts(11,11);
    margin-top: 1rem;
  }

  // description
  &--description {
    display: inline-block;
    @include fts(14,14);
    color: $color-white;
    border-bottom: 1px solid $color-white;
    margin-bottom: 1.6rem;
    padding-bottom: 1.6rem;
  }

  // content
  &--content {
    @include fts(14,14);
    color: $color-white;
  }
}


/*
** Section media
** Define positioning for media section
*/
.section_media {
  margin-bottom: 2rem;
}



/*
** Section news
** Define styling for news section and its elements
*/
.section_news {

  & .news {
    margin-bottom: 1rem;
  }
}


/*
** Section edition
*/
.section_edition {
  margin-top: 2rem;
  color: $color-light-white;

  // titles
  & h3 {
    background-color: $color-theme-key;
    padding: 0 0.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }

  & h4 {
    padding-left: 1rem;
    border-left: 3px solid $color-theme-key;
    margin-bottom: 1.5rem;
  }

  & h5 {
    font-weight: bold;
    @include fts(14,14);
    padding-bottom: 0.6rem;
    border-bottom: 1px solid $color-white;
    margin-bottom: 1rem;
  }

  & h6 {
    font-weight: bold;
  }


  // list
  & ul {

    & li {
      list-style: disc;
    }

  }
  // image
  & img {

    &.alignright {
      width: auto;
      float: right;
      padding-left: 1rem;
    }

    &.alignleft {
      width: auto;
      float: left;
      padding-right: 1rem;
    }
  }
}
