/*
** Front slider
*/
.front_orbit {
  position: relative;
  top: 0; left: 0;
  width: 100%;
  overflow: hidden;
  background-color: $color-navy;

  &--image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  & .orbit-slide {
    max-height: 100% !important;
    position: absolute !important;
    height: 100% !important;
  }

  & .orbit-container {
    height: 100% !important;
  }
}
