/* Common in top page
--------------------------- */
.top_page { // body
	position: relative;
	.row {
		max-width: 1000px;
	}
}
.section_in_top { // common to all sections in top page
	padding: 40px 0;
	@media screen and #{breakpoint(medium)} {
		padding: 60px 0;
	}
}
.section_title { // common to all section title
	margin-bottom: 30px;
	text-align: center;
	@include fts(32,32);
	@include letter-spacing(300);
	@media screen and #{breakpoint(medium)} {
		@include fts(40,40);
	}
}

/* Each section */

/* Main
--------------------------- */
.section_main {
	&--inner {
		max-width: 100%;
		&--columns {
			padding: 0;
			position: relative;
		}
	}
	.inpage_menu {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
   		background-image: linear-gradient(rgba(#000,0),rgba(#000,0.5));
		li {
			display: inline-block;
			margin: 10px 1px 0;
			@include fts(12,12);
			@include letter-spacing(100);
			.fa {margin-left: 5px;}
			a {
				display: inline-block;
				padding: 5px;
				@include border-radius(2px);
        		background-color: rgba($white,.2);
		        &:hover, &:active, &:focus {
		          background-color: rgba($white,.3);
		        }
		        p {margin-bottom: 0;}
			}
		}
	}
	@media screen and #{breakpoint(medium)} {
		.inpage_menu {
			li {
				margin: 10px 10px 20px;
				@include fts(14,14);
				@include letter-spacing(200);
				.fa {margin-left: 10px;}
				a {
					padding: 4px 10px;
				}
			}
		}
		&--inner {
			position: relative;
		}
	} 
}
.parts_holder {
	width: 100%;
	position: absolute;
	bottom: 55px;

	&--inner {
		.section_main & {
			max-width: 75rem;
			margin: 0 auto;
		}
	}
	@media screen and #{breakpoint(medium)} {
		bottom: 80px;
	}
}
.sign_holder {
	&--image {
		max-width: 156px;
		margin: 15px 0 0 10px;
		height: auto;
		@media screen and #{breakpoint(medium)} {
			max-width: 320px;
			margin: 0;
		}
	}
}
.banner_charity {
	display: inline-block;
	padding: 6px 5px;
	font-weight: bold;
	&.button {
		margin: 15px 0 0 0;
		background-color: rgba(255,255,255,.6);
		border: 1px solid #fff;
		color: $body-background;
		&:hover,&:focus,&:active {
			color: $body-background;
		}
	}
	&--image {
		width: 22px;
		height: auto;
		margin: 2px 3px 0 0;
		float: left;
	}
	&--texts {
		float: left;
		font-weight: normal;
		text-align: left;
		.text_en {
			display: block;
			margin: 0;
			@include fts(18,24);
			@include letter-spacing(120);
		}
		.text_ja {
			display: block;
			margin: 0 0 0 2px;
			@include fts(10,12);
		}
	}
	&:hover {
		color: $body-background;
	}
	@media screen and #{breakpoint(medium)} {
		padding: 12px;
		&.button {margin-top: 0px;}
		&--image {
			margin: 2px 6px 0 0;
			width: 41px;
		}
		&--texts {
			.text_en {
				margin: 0 0 6px 0;
				@include fts(30,30);
				@include letter-spacing(160);
			}
			.text_ja {
				@include fts(15,15);
			}
		}
	}
}

/* NEWS
--------------------------- */
.section_news {
	overflow: hidden;
	background-color: rgba($body-background,1);
}



/* SPONSOR
--------------------------- */
.section_sponsor {
	padding-bottom: 40px;
	text-align: center;
	background-color: #f2f2f2;
	.section_title {
		color: $body-background;
	}
	.sponsor_list {
		margin: 0;
		text-align: center;
		&--item {
			display: inline-block;
			margin: 0 4px 10px;
		}
		&--link {
			display: block;
		}
		&--image {
			width: 80px;
			height: auto;
		}
		@media screen and #{breakpoint(medium)} {
			&--item {
				margin: 0 10px 20px;
			}
			&--link {
			}
			&--image {
				width: 150px;
			}
		}
	}
}

/* INSTAGRAM
--------------------------- */
.section_instagram {
	background-color: rgba($body-background,1);
}


/* SNS
--------------------------- */
.section_sns {
	background-color: rgba($body-background,1);
	border-top: 1px solid $color-greyish-purple;
}
