/* Common in top page
--------------------------- */
.top_page { // body
	position: relative;
	.row {
		max-width: 1000px;
	}
}
.section_in_top { // common to all sections in top page
	padding: 40px 0;
	@media screen and #{breakpoint(medium)} {
		padding: 60px 0;
	}
}
.section_title { // common to all section title
	margin-bottom: 30px;
	text-align: center;
	@include fts(32,32);
	@include letter-spacing(300);
	@media screen and #{breakpoint(medium)} {
		@include fts(40,40);
	}
}

/* Each section */

/* Main
--------------------------- */
.section_main {
	.row {
		max-width: 100%;
	}
	.inpage_menu {
		display: block;
		width: 100%;
		margin: 0;
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		li {
			display: inline-block;
			margin: 0 10px;
			@include fts(12,12);
			.fa {margin-left: 5px;}
		}
	}
	&--inner {
		padding: 0;
		position: relative;
	}
	@media screen and #{breakpoint(medium)} {
		.inpage_menu {
			padding-top: 20px;
   			background-image: linear-gradient(rgba($body-background,0),rgba($body-background,0.5));
			li {
				margin: 0 15px;
				@include fts(14,14);
				.fa {margin-left: 10px;}
			}
		}
		&--inner {
			position: relative;
		}
	}
}
.banner_charity {
	display: inline-block;
	padding: 8px;
	font-weight: bold;
	position: absolute;
	right: 10px;
	bottom: 40px;
	@include clearfix;
	&.button {
		background-color: rgba(255,255,255,.6);
		border: 1px solid #fff;
		color: $body-background;
		&:hover,&:focus,&:active {
			color: $body-background;
		}
	}
	&--image {
		width: 28px;
		height: auto;
		margin: 2px 3px 0 0;
		float: left;
	}
	&--texts {
		float: left;
		font-weight: normal;
		text-align: left;
		.text_en {
			display: block;
			margin: 0;
			@include fts(20,24);
			@include letter-spacing(120);
		}
		.text_ja {
			display: block;
			margin: 0 0 0 2px;
			@include fts(10,12);
		}
	}
	&:hover {
		color: $body-background;
	}
	@media screen and #{breakpoint(medium)} {
		padding: 12px;
		right: 20px;
		bottom: 20px;
		&--image {
			margin: 2px 6px 0 0;
			width: 41px;
		}
		&--texts {
			.text_en {
				margin: 0 0 6px 0;
				@include fts(30,30);
				@include letter-spacing(160);
			}
			.text_ja {
				@include fts(15,15);
			}
		}
	}
}

/* NEWS
--------------------------- */
.section_news {
	overflow: hidden;
	background-color: rgba($body-background,1);
}



/* SPONSOR
--------------------------- */
.section_sponsor {
	margin-top: 500px;
	text-align: center;
	background-color: #f2f2f2;
	.section_title {
		color: $body-background;
	}
	.sponsor {
		display: inline-block;
		&--link {

		}
	}
}

/* INSTAGRAM
--------------------------- */
.section_instagram {
	background-color: rgba($body-background,1);
}


/* SNS
--------------------------- */
.section_sns {
	background-color: rgba($body-background,1);
	border-top: 1px solid $color-greyish-purple;
}
