// 37. Custom
// -----------

$mobile-medium: "screen and (max-width: 640px)";

// Theming
$color-theme-key: #01CAFE;
// $color-theme-key-soft: #FFB973;
$color-theme-key-lighter: lighten($color-theme-key, 40);
$color-theme-key-light: lighten($color-theme-key, 5);
$color-theme-key-dark: darken($color-theme-key, 10);

$color-main-link: #4171bf;
$color-main-link-hover: #ee2f01;


// 色
$color-blue: #4171bf;
$color-lightBlue: #9fe3ff;
$color-red: #ce0004;
$color-light-grey: #f8f8f8;
$color-greyish-purple: #6e6e8e;
$color-soft-grey: #eee;
$color-grey: #999;
$color-darkGrey: #666;
$color-black: #333;
$color-white: #fff;
$color-light-white: #fefefe;
$color-full-black: #000;



// Fonts
$font-header-tel: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;

/* For mikumu */
$color-navy: #0B0B32;
$body-background: $color-navy;

$tab-background: transparent;
